{{ define "main" }}
  <div class="logo-text">
    <span class="logo-free">Free</span><span class="logo-dev">Dev</span>
  </div>

  {{ .Content }}

  <h1>Featured projects</h1>

  {{ $projects := where .Site.RegularPages "Section" "projects" }}
  {{ $featured := where $projects "Params.featured" true }}
  {{ $sorted := sort $featured "Weight" }}
  <div class="projects">
    {{ range $sorted }}
      <a href="{{ .RelPermalink }}" class="card">
        <h2>{{ .Title }}</h2>

        {{ with .Params.description }}
          <p>{{ . }}</p>
        {{ end }}
      </a>
    {{ end }}
  </div>
{{ end }}
